# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.vscode/
.idea/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python settings
*.pyo
*.pyd

# Logs and temporary files
*.log
*.tmp
*.bak

# Pytest cache
.pytest_cache/

# Ignore all .xes files
*.xes


# Ignore all .csv files
*.csv

#Ignore all .png files
*.png

#Ignore all .pdf files
*.pdf